th,
td {
  width: 100px;
  height: 40px;
}

.transactionHistory {
  margin: 0 auto;
  width: 480px;
  text-align: center;
  margin-bottom: 100px;
}

.transactionHistoryHead {
  background-color: rgb(121, 121, 233);
}

.payment {
  background-color: rgba(10, 77, 104, 0.5);
}

.invoice {
  background-color: rgba(8, 131, 149, 0.5);
}

.withdrawal {
  background-color: rgba(5, 191, 219, 0.5);
}

.deposit {
  background-color: rgba(0, 255, 202, 0.5);
}
